<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>Header section</header>
    <div>
        @RenderBody()
    </div>
    <footer>Footer section</footer>
</body>
</html>

